div {
  background-image: url(spiros-metal.gif);
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  animation-name: sample;
  animation-duration: 4s;
  animation-iteration-count: 4;
}

@keyframes sample {
  0% {
    background-color: green;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: red;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  75% {
    background-color: purple;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: blue;
    left: 0px;
    top: 0px;
  }
}

h1 {
  text-align: center;
  background-color: brown;
}


